<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodie">
        <activity
            android:name=".detailsActivity"
            android:exported="true" />
        <activity
            android:name=".rice"
            android:exported="true" />
        <activity
            android:name=".Details"
            android:exported="true" />
        <activity
            android:name=".cream"
            android:exported="true" />
        <activity
            android:name=".sugar"
            android:exported="true" />
        <activity
            android:name=".pie"
            android:exported="true" />
        <activity
            android:name=".Snacks"
            android:exported="true" />
        <activity
            android:name=".Omlette"
            android:exported="true" />
        <activity
            android:name=".Chapati"
            android:exported="true" />
        <activity
            android:name=".Curry"
            android:exported="true" />
        <activity
            android:name=".BrownRice"
            android:exported="true" />
        <activity
            android:name=".Oatmeal"
            android:exported="true" />
        <activity
            android:name=".Recipes"
            android:exported="true" />
        <activity
            android:name=".assets"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>